.subnav
    ul
        li(ng-repeat="subnav in navItems", ng-click="callback(subnav.link)", ng-class="{'active': (subnav.link === routeParams.v)}")
            span(ng-click="switchSubnav(subnav.link)") {{subnav.name}}