extends layout

include mixins.jade
block body
    header
        h1.wrapper Command Vault

    div.wrapper
        aside.left
            nav-bar
        .right.view-content(ng-view)

    each jsFile in appJs
        +cachedScript(jsFile)