doctype
html
  head
    meta(charset='utf8')
    base(href='/')
    title Command Vault

    each cssFile in appLess
        +cachedLess(cssFile)

    script(type="text/javascript", src="public/js/less.js")

  body(ng-app="commandApp")
    block body
